<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Congratulations, <%= @user.email %>!</h1>
    <p>
      You have successfully activated your App Prototype account,
      your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      <%= "Sign In Now", sign_in_url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
