<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%= @user.email %></h1>
    <p>
      You have requested to reset your password.
    </p>
    <p>
      To choose a new password, just follow this link: <%= link_to edit_password_reset_url(@user.reset_password_token), edit_password_reset_url(@user.reset_password_token) %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
