<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%= @user.email %></h1>
    <p>
      Someone requested to reset your password. If it wasn't you, just disregard this email.
    </p>
    <p>
      To choose a new password, follow this link: <%= link_to reset_password_url(@user.reset_password_token), reset_password_url(@user.reset_password_token) %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
